<?xml version="1.0"?>
<robot name="racer_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find racer_bot)/urdf/material.xacro" />
    <xacro:include filename="$(find racer_bot)/urdf/robot.gazebo" />
    <xacro:include filename="$(find racer_bot)/urdf/robot.xacro" />
  
</robot>